.footer {
    background-color: #4976fb; 
    color: white; 
    padding: 30px 0; 
    border-top-left-radius: 40px;
    border-top-right-radius: 40px; 
  }
  .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  .footer img {
    height: 70px; 
    margin-right: 10px; 
  }
  .footer-nav {
    list-style: none; 
    padding-left: 0; 
    margin: 0; 
    display: flex; 
  }
  .footer-nav li {
    padding: 0 10px; 
  }
  .footer-nav li:not(:last-child):after {
    content: '|'; 
    margin-left: 50px; 
    color: white; 
  }
  .footer-nav a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  .footer-nav a:hover {
    color: #f2ffa8; 
  }
  
  body {
    padding-bottom: 0px; 
  }