.header{ 
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px; 
    
  }
  .navbar-brand img {
    height: 50px; 
  }
  .navbar-toggler {
    border: none;
  }
  .nav-link {
    color: black !important; 
  }
  .nav-link:hover {
    color:  #4976fb !important; 
  }
.borda {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}