.header{ 
  background-color: #e9cbfe;
}
.navbar {
  background-color: white;
  border-bottom-left-radius:  40px;
  border-bottom-right-radius: 40px;
  padding: 0.25rem 3rem !important;
}
.navbar .container {
  margin: 0%;
}
  .navbar-brand img {
    height: 90px; 
  }
  .navbar-toggler {
    border: none;
  }
  .nav-link {
    color: black !important; 
  }
  .nav-link:hover {
    color:  #4976fb !important; 
  }
