.header {
    background-color: white; 
    border-bottom-left-radius: 20%; 
    border-bottom-right-radius: 20%; 
  }
  .navbar-brand img {
    height: 50px; 
  }
  .navbar-toggler {
    border: none;
  }
  .nav-link {
    color: black !important; 
  }
  .nav-link:hover {
    color:  #4976fb !important; 
  }
