body {
  border: 0;
  padding: 0;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #e9cbfe; 
    padding: 50px; 
  }
  .left-section {
    flex-basis: 50%; 
    padding-right: 30px; 
  }
  .title {
    color: black; 
    padding: 10px;
    margin-bottom: 10px; 
    font-size: larger;
  }
  .text {
    background-color: #e9cbfe; 
    color: black; 
    padding: 10px;
    margin-bottom: 30px; 
  }
  .image-left {
    width: 100%; 
    height: auto; 
  }
  .right-section {
    flex-basis: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 50px;
  }
  .image-right {
    width: 100%; 
    height: auto; 
  }

  .section-container {
    position: relative;
    padding: 20px;
  }
  .curved-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 0% 100%;
    z-index: 0;
  }
  .content-block {
    position: relative;
    z-index: 1; 
    margin-bottom: 20px;
   
    color: black;
    padding: 20px;
    text-align: center;
  }
  .image-block {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
  }
  .text-block {
    margin-bottom: 20px; /
  }

  #img3 img {
    border-radius: 0 0 150px 0;
    margin-left: -20px;
    margin-top: -20px;
  }

  #column {
    flex-direction: column;
    align-items: center;
  }

  .links-section > * {
    margin: 40px 0px;
  }

  .members-section{
    justify-content: space-around !important;
  }

  #carousel-items li {
    display: none;
  }

  #carousel-items li[data-active] {
    display: flex;
  }
  
  @media (max-width: 768px) {
    .curved-shape {
      width: 100%;
      height: 50%;
      border-bottom-left-radius: 100% 50%;
    }
  }
  