<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Femininō - Doenças Não Transmissíveis</title>
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="../js/script.js"></script>
  </head>
  
  <body>
    
    <header class="header fixed-top" id="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="../Index.html">
            <img src="../assets/img/logo-transp-2.png" alt="Logotipo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="./page2.html">HIV e Mortalidade Infantil</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./page3.html">Doenças Transmissíveis</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./page4.html">Doenças Não Transmissíveis</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./page5.html">Saúde</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header > 
      
      <main class="main-section">
        <div class="home-section">
          <div class="left-section">
            <div class="title" id="Home">Doenças Não Transmissíveis</div>
            <div class="text">
                As Doenças Não Transmissíveis (DNTs) são enfermidades não causadas por patógenos e não possuem transmissão de pessoa para pessoa, tendo como característica sua relação mais intrínseca com fatores genéticos, ambientais e estilo de vida. 
                Suas causas se assentam em múltiplos fatores de risco, com origens sociais, físicas, econômicas e ambientais.
                
            </div>
            <img src="../assets/img/dcnt-1.png" alt="dcnt1" class="image">
          </div>
          <div class="right-section">
            <img src="../assets/img/dcnt2.png" alt="dcnt2" class="image">
          </div>
        </div>
        </div>
        <div class="section-container">
            <!-- Forma curva utilizando CSS -->
            <div class="curved-shape"></div>
          
              <div class="row" >
                
                <div class="col align-self-start">
                    <div class="content-block text-block" id="Blog"></div>
                    Entre as DNTs, destacam-se as doenças crônicas, especialmente câncer, diabetes e doenças cardiovasculares. <br>Estas são as maiores causas de mortalidade no mundo, correspondendo a 74% das mortes – 41 milhões por ano, segundo a OMS.
                    No Brasil, em 2019, esse grupo de doenças foi responsável pela maior causa de morte em todos os grupos etários, exceto em menores de 10 anos. <br>
                    Entre os fatores de risco, os principais são: obesidade, sedentarismo, consumo excessivo de álcool e/ou outras drogas, tabagismo e alimentação inadequada <br>
                    Essas doenças crônicas possuem uma progressão, muitas vezes, silenciosa, como problemas referentes à pressão arterial, perda de visão, diabetes, transtornos ansiosos, depressivos e fobias, o que as torna difíceis de serem detectadas.
                    Por se tratarem de doenças desenvolvidas a partir de aspectos multifatoriais, torna-se mais difícil a implementação de políticas de prevenção, já que não há uma causa específica a ser combatida. Contudo, é consenso que o estilo de vida moderno, com aceitação social de vários hábitos danosos à saúde, como tabagismo, sedentarismo entre outros, seja o grande fator de risco. <br>
                    
                     Parte crucial das ações passam pelo acompanhamento e detecção precoce do problema aliado com cuidados com estilo de vida, que muitas vezes é negligenciado pela alta demanda das condições de trabalho e moradia. <br>
                     Dito isso, é patente que as medidas de conscientização da população pela busca de hábitos saudáveis devem ser universais, sendo acessíveis a todos, sobretudo àqueles em situação de vulnerabilidade, que, por óbvio, terão maior dificuldade no acesso.  
                    
                    
                    

                  </div>
                  <div class="col align-self-center">
                    <div class="content-block text-block"></div>
                     
                    Dados da última pesquisa Vigitel, realizada pela Secretaria de Vigilância em Saúde (SVS) do Ministério da Saúde ao longo de 2019, mostram um cenário preocupante:
                    <div class="carousel-main" id="carousel-main">
                      <button class="carousel-button" id="carousel-button" onclick="carousel(false)" data-carousel-button><</button>
                      <ul id="carousel-items">
                        <li data-active>
                          <strong>24,5%</strong> da população brasileira tem diagnóstico de <strong>hipertensão</strong>
                       </li>
                       <li>
                           <strong>7,4%</strong> tem diagnóstico de <strong>diabetes</strong>
                       </li>
                       <li>
                           <strong>9,8%</strong> dos adultos são <strong>fumantes</strong>
                       </li>
                       <li>
                           <strong>55,4%</strong> dos adultos tem <strong>excesso de peso</strong>
                       </li>
                       <li>
                           <strong>20,3%</strong> são <strong>obesos</strong>
                       </li>
                       <li>
                           <strong>44,8%</strong> não alcançaram um nível suficiente de prática de atividade física
                       </li>
                       <li>
                           <strong>18,8%</strong> fizeram uso abusivo de álcool nos 30 dias antecedentes à pesquisa
                       </li>
                      </ul>
                      <button class="carousel-button" id="carousel-button" onclick="carousel(true)" data-carousel-button>></button>
                    </div>
                    
                </div>
                  </div>
                
              
              </div>

      <footer class="footer dinamic-bottom">
        <div class="container">
          <div class="footer-icons"> <!-- Container para as imagens ou ícones -->
            <a href="#Home"><img src="../assets/img/back-to-top.png" alt="Voltar ao topo"></a>
            <a onclick="dark()"><img src="../assets/img/dark-mode.png" alt="Modo dark"></a>
          </div>
          <ul class="footer-nav">
            <li><a href="#Institucional">Quem Somos</a></li>
            <li><a href="#Valores">Valores</a></li>
            <li><a href="#Contato">Fale Conosco</a></li>
          </ul>
        </div>
      </footer>
    
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>