<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Femininō - Redução da Mortalidade Infantil</title>
    <link rel="icon" href="../assets/img/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
</head>

<body>
  
  <header class="header fixed-top" id="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="../Index.html">
          <img src="../assets/img/logo-transp-2.png" alt="Logotipo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./page2.html">HIV e Mortalidade Infantil</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./page3.html">Doenças Transmissíveis</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./page4.html">Doenças Não Transmissíveis</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./page5.html">Saúde</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header >


      <main class="main-section">
        <div class="home-section">
          <div class="left-section">
            <div class="title" style="text-align:center" >HIV e a mortalidade infantil</div>
            <div class="text">
            
                A mortalidade infantil decorrente do HIV (Vírus da Imunodeficiência Humana) é uma preocupação significativa no mundo, visto que a transmissão pode ser transmitida de mãe para filho durante a gravidez, parto ou amamentação. Entre 2000 até junho de 2022, foram notificadas no país 149.591 gestantes/parturientes/puérperas infectadas pelo HIV. 
                A progressão em crianças é rápida, especialmente na ausência de tratamento antirretroviral (TAR) adequado, o que fragiliza um sistema imunológico em formação, deixando-as suscetíveis a infecções oportunistas.  
                O tratamento contínuo com antirretrovirais em crianças infectadas é crucial para o aumento da qualidade de vida. No entanto, não deve ser uma ação isolada, devendo ter intervenções que promovem o acesso à saúde, acompanhamento pré-natal, apoio social e psicológico influem positivamente na evolução do quadro.

            </div>
            <img src="../assets/img/hiv1.jpeg" alt="hiv 1" class="image-left">
          </div>
          <div class="right-section">
            <img src="../assets/img/hiv2.webp" style='max-height: 738px;' alt="hiv 2" class="image-right">
          </div>
        </div>
        <div class="section-container">
            <!-- Forma curva utilizando CSS -->
            <div class="curved-shape"></div>
          
              <div class="row" >
                <div class="col-5 col-sm-5" id="img3">
                  <!-- Bloco de imagem -->
                  <img src="../assets/img/Captura de tela de 2023-11-24 15-43-24.png" alt="Imagem 1 do app" class="image-block">
                </div>
                
                <div class="col align-self-start">
                    <div class="content-block text-block" id="Blog">Sobre do HIV</div>
                    A infecção pelo HIV não afeta apenas a saúde física, mas também pode ter impactos significativos na saúde mental das pessoas.<br>
                    O HIV ataca o sistema imunológico, especificamente as células CD4, enfraquecendo a capacidade do corpo de combater infecções. Isso pode levar a uma série de infecções oportunistas em estágios avançados da infecção, quando o sistema imunológico está significativamente comprometido. <br> Embora essencial para controlar a replicação do HIV, os medicamentos antirretrovirais podem ter efeitos colaterais, como náuseas, diarreia, fadiga e distúrbios metabólicos. Esses efeitos podem afetar a qualidade de vida física.
                    <br>O estado mental também sofre severos danos, desencadeando quadro depressivos e ansiosos, isolamento social, queda na qualidade/expectativa de vida e severos prejuízos 
                  </div>
                  <div class="col align-self-center">
                    <div class="content-block text-block">Incidência do HIV</div>
                  A mortalidade infantil decorrente do HIV (Vírus da Imunodeficiência Humana) é uma preocupação significativa no mundo, visto que a transmissão pode se dar de mãe para filho durante a gravidez, parto ou amamentação. <br>Entre 2000 até junho de 2022, foram notificadas 149.591 gestantes/parturientes/puérperas infectadas pelo HIV no Brasil. <br>
                  A progressão em crianças é rápida, especialmente na ausência de tratamento antirretroviral (TAR) adequado, o que fragiliza um sistema imunológico em formação, deixando-as suscetíveis a infecções oportunistas. <br>
                  O tratamento contínuo com antirretrovirais em crianças infectadas é crucial para o aumento da qualidade de vida. No entanto, não deve ser uma ação isolada, devendo ter intervenções que promovem o acesso à saúde, acompanhamento pré-natal, apoio social e psicológico influem positivamente na evolução do quadro.
                </div>
                  </div>
                
              
              </div>
            </div>
         
                  
      </main>
      <footer class="footer dinamic-bottom">
        <div class="container">
          <div class="footer-icons"> <!-- Container para as imagens ou ícones -->
            <a href="#Home"><img src="../assets/img/back-to-top.png" alt="Voltar ao topo"></a>
            <a onclick="dark()"><img src="../assets/img/dark-mode.png" alt="Modo dark"></a>
          </div>
          <ul class="footer-nav">
            <li><a href="#Institucional">Quem Somos</a></li>
            <li><a href="#Valores">Valores</a></li>
            <li><a href="#Contato">Fale Conosco</a></li>
          </ul>
        </div>
      </footer>
    
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

