<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Femininō - Qualidade de vida</title>
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
  </head>
  
  <body>
    
    <header class="header fixed-top" id="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="../Index.html">
            <img src="../assets/img/logo-transp-2.png" alt="Logotipo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="./page2.html">HIV e Mortalidade Infantil</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./page3.html">Doenças Transmissíveis</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./page4.html">Doenças Não Transmissíveis</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./page5.html">Saúde</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header > 
      
      <main class="main-section">
        <div class="home-section">
          <div class="left-section">
            <div class="title" id="Home">Qualidade de vida</div>
            <div class="text">
              A saúde pode ser entendida como estado de bem-estar fisico e mental.<br>
              A prática de atividade física de forma regular, alem de fortalecer os músculos e melhorar a condição cardiorrespiratória, também libera neurotransmissores que promovem a sensação de bem-estar.<br>
              Juntamente com a atividade física, a alientação saudavel fornece os nutrientes necessarios para o bom funcionamento do corpo, contribuindo nao so para o bem-estar, mas também para a prevenção de doenças
              
                
            </div>
            <div class="text">

              De modo contiguo à saude fisica, a saude mental também desempenha um papel imprescindível na qualidade de vida da população.<br>
              O estresse do cotidiano, as demandas profissionais desgastantes afetam negativamente a saúde mental.
              Desta feita, é muito importante que as pessoas entendam que a saude mental é um dos pilares da boa qualidade de vida

              A procura de uma vida saudável cada vez mais tem se tornado prioridade.<br>
              A crescente conscientização sobre o bem-estar físico, mental e social tem feito as pessoas, cada vez mais, adotar praticas e hábitos mais saudáveis. <br>
              Apesar disso, muitas pessoas ainda encontram dificuldade no acesso a hábitos saudáveis, seja por falta de informação, ou por falta de condições economico-sociais. <br>
              Assim, é muito importante implementação de políticas que universalizam a pratica de hábitos saudáveis. <br>

            </div>

          </div>
          <div class="right-section">
            <img src="../assets/img/saudaveis.webp" alt="dcnt2" class="image-right" style="width: 700px;">
           
            
          </div>
        </div>
        </div>
        <div class="section-container">
            <!-- Forma curva utilizando CSS -->
            <div class="curved-shape"></div>
          
              <div class="row" >
                
                <div class="col align-self-start">
                    <div class="content-block text-block" id="Blog"></div>
                    No  que tange à saúde da mulher, esta vai muito além de questoes ginecológicas, contemplando também o bem-estar físico, emocional, mental e planejamento familiar.
                    as questoes ginecologicas, por obvio, são de suma importancia, devendo sersubmetidas a exames de rotina de prevenção e de detecção precoce de qualquer problema que venha a surgir.<br>
                    As questões ginecológicas, por obvio, são de suma importância, devendo ser submetidas a exames de rotina de prevenção e de detecção precoce de qualquer problema que venha a surgir. <br>
                    A saúde reprodutiva também é fundamental não somente para otimizar a possibilidade de sucesso do método anticoncepcional escolhido, como também, de outra mão, para aquelas que desejam ser mães.<br>

                    O exame pré-natal é de suma importância para prevenção e detecção precoce de doenças maternas ou fetais, permitindo o desenvolvimento saudável do bebe e reduzindo os riscos da gestante. No pré-natal, é possível identificar condições outras como hipertensão, doenças cardíacas, diabetes, anemias, etc.

                    Quanto aos cânceres, a população feminina tem como mais prevalecentes o câncer de mama, cólon, reto, colo do útero e tireóide.<br>

                    A prevenção desses cânceres envolve exames ginecológicos de rotina, mamografia anual para mulheres acima de 40 anos, hábitos saudáveis, como evitar tabagismo, alimentação adequada, exercício físico, etc.<br>

                    Após a menopausa, é mais comum o surgimento de doenças crônicas, como diabetes, hipertensão, doenças do coração, etc. Por isso, o cuidado deve ser redobrado

                    

                    
                    
                    

                  </div>
                  <div class="col align-self-center">
                    <div class="content-block text-block">

                      <img src="../assets/img/saude mulher.jpeg"  alt="saude mulher" style="width: 400px;">
                    </div>
                </div>
                  </div>
                
              
              </div>

      <footer class="footer dinamic-bottom">
        <div class="container">
          <div class="footer-icons"> <!-- Container para as imagens ou ícones -->
            <img src="caminho-para-sua-imagem1.png" alt="Ícone 1">
            <img src="caminho-para-sua-imagem2.png" alt="Ícone 2">
          </div>
          <ul class="footer-nav">
            <li><a href="#Institucional">Quem Somos</a></li>
            <li><a href="#Valores">Valores</a></li>
            <li><a href="#Contato">Fale Conosco</a></li>
          </ul>
        </div>
      </footer>
    
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>